body {
  background-color: lightgray;
}

.minesweeper {
  width:  300px;
  border: 2px solid white;
  border-right-color: darkgray;
  border-bottom-color: darkgray;
  margin: auto;
  padding: 10px;
}

   .game {
     &.cheat, &.fail {
       .sprite--mine {
         display: block;
       }
     }
   }

  .game__board.grid, .game__header {
    border: 2px inset white;
  }

  .game__header {
    width: 100%;
    height: 30px;
    text-align: center;
  }

  .game__board.grid {
      margin: 0 auto;
  }

  .game__tile {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    cursor: pointer;

    span.sprite {
      display: none;
      z-index: 5;
      position: relative;
    }

    &.pressed {
      @extend .sprite--empty;

      &.question {
        @extend .sprite--tile-question-pressed;
      }
    }

    &.revealed, &.question, &.flag {
      .sprite {
        display: block;
      }
    }

    &.fail .sprite {
      @extend .sprite--mine-fail;
    }

    &.flag .sprite {
      @extend .sprite--tile-flag;
    }

    &.question .sprite {
      @extend .sprite--tile-question;
    }
  }

